.banner {
  background-image: url(https://source.unsplash.com/1800x400/?maracana);
  height: 400px;
}

.banner-container {
  font-family: 'Open Sans', sans-serif;
  padding: 100px 0;
  color: #EEE;
  text-align: center;
}

.banner-txt {
  border-radius: 8px;
  background-color: rgba(0,0,0,0.5);
}

.txt-container {
  text-align: justify;
  /*padding: 0 100px;*/
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #777;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #555;
}

a {
  text-decoration: none;
  color: blue;
  font-family: Antonio, sans-serif;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
}

a:hover {
  color: purple;
}

.banner-container, .txt-container {
  width: 1000px;
  margin: 0 auto;
}

@media(max-width: 1200px) {
  .banner-container, .txt-container {
    width: 920px;
  }
}

@media(max-width: 992px) {
  .banner-container, .txt-container {
    width: 720px;
  }
}

@media(max-width: 768px) {
  .banner-container, .txt-container {
    width: 516px;
  }
}

@media(max-width: 576px) {
  .banner-container, .txt-container {
    width: 364px;
  }
}
